* {
  margin: 0;
  box-sizing: border-box; /* Ver si cambiar*/
}
body {
  background: linear-gradient(to right, #38ef7d, #11998e);
  font-family: "Mulish", sans-serif;
  color: #fff;
}
html {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.header {
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 220px;
  margin: 15px 0 0 15px;
  border-radius: 40px;
}

.main {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section Error 404 */

.error {
  text-align: center;
}

.error--num {
  font-size: 10rem;
  font-weight: bold;
  margin-bottom: 15px;
  animation-name: scale;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.error--text {
  font-size: 2rem;
  font-weight: bold;
}

.error--anchor-btn:hover {
  text-decoration: none;
}
.error--btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 25px 0;
}
.error--btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #fff;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 20px;
}
.footer ul li {
  font-size: 1.5rem;
  padding-left: 20px;
}
